- title "Edit repository #{@repository.github_name}"

%h2 Edit a repository

.repository-info
  = link_to 'Show Builds', @repository, class: "show-btn btn btn-default pull-right"
  %p
    %span Repository token
    = link_to "", "#", class: "question_mark_icon", rel: "tooltip", title: "repository token is used to authorized github hook, paste it to github railsbp hook"
    %b= @repository.authentication_token

  = simple_form_for @repository do |form|
    = form.input :name
    = form.input :description
    = form.input :html_url
    = form.input :git_url
    = form.input :ssh_url
    = form.input :visible, hint: "if the repository is visible to everyone"
    = form.button :submit
