%table
  %tr
    %td Repository
    %td= @repository.github_name
  %tr
    %td Build ##{@build.position}
    %td= link_to user_repo_build_url(owner_name: @repository.owner_name, repository_name: @repository.name, id: @build.id), user_repo_build_url(owner_name: @repository.owner_name, repository_name: @repository.name, id: @build.id)
  %tr
    %td Warnings count
    %td= @build.warnings_count
  %tr
    %td Commit
    %td #{@build.short_commit_id} (#{@build.branch})
  %tr
    %td Message
    %td= @build.last_commit_message
  %tr
    %td Duration
    %td #{@build.duration} secs
