%dl
  %dt Build
  %dd #{@build.position}
  %dt Duration
  %dd #{@build.duration} secs
  %dt Finished
  %dd #{time_ago_in_words(@build.updated_at)} ago
  %dt Branch
  %dd #{@build.branch}
  %dt Commit
  %dd#commit_id #{@build.short_commit_id}
  %dt Message
  %dd.message #{@build.last_commit_message}
