%dl
  %dt Build
  %dd #{build.position}
  %dt Duration
  %dd #{build.duration} secs
  %dt Finished
  %dd
    %abbr.timeago{title: build.updated_at.getutc.iso8601}=build.updated_at.to_s
  %dt Branch
  %dd #{build.branch}
  %dt Commit
  %dd#commit_id #{build.short_commit_id}
  %dt Message
  %dd.message #{build.last_commit_message}
