= link_to 'Edit Repository', [:edit, @repository], class: "edit btn btn-primary"
%ul.nav.nav-tabs
  %li{:class => @active_class_name == "current" ? "active" : ""}= link_to "Current", repository_path(@repository)
  %li{:class => @active_class_name == "history" ? "active" : ""}= link_to "History", repository_builds_path(@repository)
  - if @active_class_name == "build"
    %li{:class => "active"}= link_to "Build ##{@build.position}", repository_build_path(@repository, @build)
