- title "Repository #{@repository.github_name} build ##{@build.position}"

%h2= link_to @repository.github_name, @repository.html_url

.build
  - if @build.try(:completed?)
    = render 'builds/tabs'
    = render 'builds/info'

    = render inline: File.read(@build.analyze_file)
