- title "Repository #{@repository.github_name} build ##{@build.position}"

%h2= link_to @repository.github_name, @repository.html_url

.build
  - if @build.try(:completed?)
    = render 'builds/tabs', repository: @repository, build: @build, active_class_name: @active_class_name
    = render 'builds/info', build: @build

    = render inline: File.read(@build.analyze_file)
