%header.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to "Rails Brakeman", root_path, class: "brand"
      .container.nav-collapse
        %ul.nav
          %li= link_to 'Home', root_path
          %li= link_to 'About', page_path("about")
          %li= link_to 'Contact', new_contact_path
        %ul.nav.pull-right
          - if current_user
            %li= link_to "Create Repository", new_repository_path
            - if current_user.try(:repositories).present?
              %li.dropdown
                %a{"href" => "#", "class" => "dropdown-toggle", "data-toggle" => "dropdown"}
                  Select your repositories
                  %b.caret
                %ul.dropdown-menu
                  - current_user.repositories.each do |repository|
                    - unless repository.new_record?
                      %li= link_to repository.name, repository_path(repository)
            %li= link_to "Sign out", destroy_user_session_path, method: :delete
            %li.avatar= image_tag current_user.gravatar_url size: 24, secure: true
          - else
            %li= link_to "Sign in with Github", user_omniauth_authorize_path(:github)
