%header.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle': 'collapse', 'data-target': '#bs-example-navbar-collapse-1', 'aria-expanded': false}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Rails Brakeman", root_path, class: "navbar-brand"
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li= link_to 'Home', root_path
        %li= link_to 'About', '/pages/about'
        %li= link_to 'Contact', '/contact-us'
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to "Create Repository", new_repository_path
          - if current_user.try(:repositories).present?
            %li.dropdown
              %a{"href" => "#", "class" => "dropdown-toggle", "data-toggle" => "dropdown"}
                Select your repositories
                %b.caret
              %ul.dropdown-menu
                - current_user.repositories.each do |repository|
                  - unless repository.new_record?
                    %li= link_to repository.name, user_repo_path(owner_name: repository.owner_name, repository_name: repository.name)
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
          %li.avatar= image_tag current_user.gravatar_url size: 24, secure: true
        - else
          %li= link_to "Sign in with Github", user_github_omniauth_authorize_path
