.well.sidebar-nav
  %h3 Public Repositories
  %ul.repositories
    - @latest_repositories.each do |repository|
      %li{class: cycle("odd", "even")}
        = link_to repository.name, repository, class: 'current'
        - if repository.builds_count > 0
          = link_to "##{repository.builds.last.position}", user_repo_build_path(user_name: repository.user.nickname, repository_name: repository.name, id: repository.builds.last.id), class: 'build'
          %div
            %span Duration:
            %span #{repository.builds.last.duration} secs
            ,
            %span Finished:
            %span #{time_ago_in_words(repository.last_build_at)} ago
